.navbar-laravel {
	background-color: #fff;
	box-shadow: none !important;
}

@media (min-width: 1200px) {
	.container {
		max-width: 960px;
	}
}

.navbar-brand .font-nunito {
	font-size: 2rem;
}
.navbar-brand .small {
	font-size: 11px;
}

.box-shadow {
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.font-nunito {
	font-family: 'Nunito', sans-serif !important;
}

.text-lighter {
	color:#B8C2CC !important;
}

.card-top-nav {
	border-top-left-radius: 0; 
	border-top-right-radius: 0;
	border-top:none;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #495057;
	font-weight: bold;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #f8fafc;
}	

.incidents-footer {
	display: block;
	width: 100%;
	border-bottom: 3px solid #e6ebf1;
}